In [1]:
# import libraries
import pandas as pd

In [2]:
weather1 = pd.read_csv('../data/df_weather1.csv')
weather1.head()

,Unnamed: 0,Date,Daily Rainfall Total (mm),Highest 30-min Rainfall (mm),Highest 60-min Rainfall (mm),Highest 120-min Rainfall (mm),Mean Temperature (°C),Maximum Temperature (°C),Minimum Temperature (°C),Mean Wind Speed (km/h),Max Wind Speed (km/h),year,region
0,0,1 Oct,22.6,18.6,21.4,21.4,26.8,31.8,24.4,6.0,27.8,2022,Admiralty
1,1,2 Oct,16.4,13.2,14.2,16.0,27.1,32.6,23.0,5.8,24.4,2022,Admiralty
2,2,3 Oct,44.2,18.6,33.4,39.6,26.3,31.8,23.1,5.7,52.6,2022,Admiralty
3,3,4 Oct,1.4,1.0,1.2,1.2,26.2,31.2,24.5,6.3,36.3,2022,Admiralty
4,4,5 Oct,49.2,17.6,29.2,44.8,26.0,28.6,22.8,7.2,33.5,2022,Admiralty

In [4]:
weather1.shape

(66426, 13)

In [3]:
weather2 = pd.read_csv('../data/df_weather2.csv')
weather2.head()

,Unnamed: 0,Date,Daily Rainfall Total (mm),Highest 30-min Rainfall (mm),Highest 60-min Rainfall (mm),Highest 120-min Rainfall (mm),Mean Temperature (°C),Maximum Temperature (°C),Minimum Temperature (°C),Mean Wind Speed (km/h),Max Wind Speed (km/h),year,region
0,0,1 Oct,17.0,8.0,10.4,13.2,-,-,-,-,-,2022,Marine Parade
1,1,2 Oct,32.2,10.6,12.6,17.4,-,-,-,-,-,2022,Marine Parade
2,2,3 Oct,10.4,4.8,5.8,7.4,-,-,-,-,-,2022,Marine Parade
3,3,4 Oct,9.8,5.2,8.8,9.8,-,-,-,-,-,2022,Marine Parade
4,4,5 Oct,49.4,36.2,42.8,46.6,-,-,-,-,-,2022,Marine Parade

In [5]:
weather2.shape

(64744, 13)

In [7]:
# concat weather1 and weather2
weather = pd.concat([weather1,weather2])
weather.head()

,Unnamed: 0,Date,Daily Rainfall Total (mm),Highest 30-min Rainfall (mm),Highest 60-min Rainfall (mm),Highest 120-min Rainfall (mm),Mean Temperature (°C),Maximum Temperature (°C),Minimum Temperature (°C),Mean Wind Speed (km/h),Max Wind Speed (km/h),year,region
0,0,1 Oct,22.6,18.6,21.4,21.4,26.8,31.8,24.4,6.0,27.8,2022,Admiralty
1,1,2 Oct,16.4,13.2,14.2,16.0,27.1,32.6,23.0,5.8,24.4,2022,Admiralty
2,2,3 Oct,44.2,18.6,33.4,39.6,26.3,31.8,23.1,5.7,52.6,2022,Admiralty
3,3,4 Oct,1.4,1.0,1.2,1.2,26.2,31.2,24.5,6.3,36.3,2022,Admiralty
4,4,5 Oct,49.2,17.6,29.2,44.8,26.0,28.6,22.8,7.2,33.5,2022,Admiralty

In [8]:
weather.shape

(131170, 13)