In [1]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns
from datetime import datetime

C:\Users\ng_li\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
weather1 = pd.read_csv('../data/df_weather1.csv')
weather1.head()

,Unnamed: 0,Date,Daily Rainfall Total (mm),Highest 30-min Rainfall (mm),Highest 60-min Rainfall (mm),Highest 120-min Rainfall (mm),Mean Temperature (°C),Maximum Temperature (°C),Minimum Temperature (°C),Mean Wind Speed (km/h),Max Wind Speed (km/h),year,region
0,0,1 Oct,22.6,18.6,21.4,21.4,26.8,31.8,24.4,6.0,27.8,2022,Admiralty
1,1,2 Oct,16.4,13.2,14.2,16.0,27.1,32.6,23.0,5.8,24.4,2022,Admiralty
2,2,3 Oct,44.2,18.6,33.4,39.6,26.3,31.8,23.1,5.7,52.6,2022,Admiralty
3,3,4 Oct,1.4,1.0,1.2,1.2,26.2,31.2,24.5,6.3,36.3,2022,Admiralty
4,4,5 Oct,49.2,17.6,29.2,44.8,26.0,28.6,22.8,7.2,33.5,2022,Admiralty

In [3]:
weather1.shape

(66426, 13)

In [4]:
weather2 = pd.read_csv('../data/df_weather2.csv')
weather2.head()

,Unnamed: 0,Date,Daily Rainfall Total (mm),Highest 30-min Rainfall (mm),Highest 60-min Rainfall (mm),Highest 120-min Rainfall (mm),Mean Temperature (°C),Maximum Temperature (°C),Minimum Temperature (°C),Mean Wind Speed (km/h),Max Wind Speed (km/h),year,region
0,0,1 Oct,17.0,8.0,10.4,13.2,-,-,-,-,-,2022,Marine Parade
1,1,2 Oct,32.2,10.6,12.6,17.4,-,-,-,-,-,2022,Marine Parade
2,2,3 Oct,10.4,4.8,5.8,7.4,-,-,-,-,-,2022,Marine Parade
3,3,4 Oct,9.8,5.2,8.8,9.8,-,-,-,-,-,2022,Marine Parade
4,4,5 Oct,49.4,36.2,42.8,46.6,-,-,-,-,-,2022,Marine Parade

In [5]:
weather2.shape

(64744, 13)

In [6]:
# concat weather1 and weather2
weather = pd.concat([weather1,weather2])
weather.head()

,Unnamed: 0,Date,Daily Rainfall Total (mm),Highest 30-min Rainfall (mm),Highest 60-min Rainfall (mm),Highest 120-min Rainfall (mm),Mean Temperature (°C),Maximum Temperature (°C),Minimum Temperature (°C),Mean Wind Speed (km/h),Max Wind Speed (km/h),year,region
0,0,1 Oct,22.6,18.6,21.4,21.4,26.8,31.8,24.4,6.0,27.8,2022,Admiralty
1,1,2 Oct,16.4,13.2,14.2,16.0,27.1,32.6,23.0,5.8,24.4,2022,Admiralty
2,2,3 Oct,44.2,18.6,33.4,39.6,26.3,31.8,23.1,5.7,52.6,2022,Admiralty
3,3,4 Oct,1.4,1.0,1.2,1.2,26.2,31.2,24.5,6.3,36.3,2022,Admiralty
4,4,5 Oct,49.2,17.6,29.2,44.8,26.0,28.6,22.8,7.2,33.5,2022,Admiralty

In [7]:
weather.shape

(131170, 13)

In [8]:
# remove unnamed column
weather.drop(columns=['Unnamed: 0'], inplace=True)
weather.head()

,Date,Daily Rainfall Total (mm),Highest 30-min Rainfall (mm),Highest 60-min Rainfall (mm),Highest 120-min Rainfall (mm),Mean Temperature (°C),Maximum Temperature (°C),Minimum Temperature (°C),Mean Wind Speed (km/h),Max Wind Speed (km/h),year,region
0,1 Oct,22.6,18.6,21.4,21.4,26.8,31.8,24.4,6.0,27.8,2022,Admiralty
1,2 Oct,16.4,13.2,14.2,16.0,27.1,32.6,23.0,5.8,24.4,2022,Admiralty
2,3 Oct,44.2,18.6,33.4,39.6,26.3,31.8,23.1,5.7,52.6,2022,Admiralty
3,4 Oct,1.4,1.0,1.2,1.2,26.2,31.2,24.5,6.3,36.3,2022,Admiralty
4,5 Oct,49.2,17.6,29.2,44.8,26.0,28.6,22.8,7.2,33.5,2022,Admiralty

In [9]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 131170 entries, 0 to 64743
Data columns (total 12 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Date                           131170 non-null  object
 1   Daily Rainfall Total (mm)      131170 non-null  object
 2   Highest 30-min Rainfall (mm)   131170 non-null  object
 3   Highest 60-min Rainfall (mm)   131170 non-null  object
 4   Highest 120-min Rainfall (mm)  131170 non-null  object
 5   Mean Temperature (°C)          131170 non-null  object
 6   Maximum Temperature (°C)       130935 non-null  object
 7   Minimum Temperature (°C)       130935 non-null  object
 8   Mean Wind Speed (km/h)         131170 non-null  object
 9   Max Wind Speed (km/h)          130930 non-null  object
 10  year                           131170 non-null  int64
 11  region                         131170 non-null  object
dtypes: int64(1), object(11)
memory usage: 13.0+ MB

In [10]:
# check for null
weather.isnull().sum()

Date                               0
Daily Rainfall Total (mm)          0
Highest 30-min Rainfall (mm)       0
Highest 60-min Rainfall (mm)       0
Highest 120-min Rainfall (mm)      0
Mean Temperature (°C)              0
Maximum Temperature (°C)         235
Minimum Temperature (°C)         235
Mean Wind Speed (km/h)             0
Max Wind Speed (km/h)            240
year                               0
region                             0
dtype: int64

In [11]:
# drop null as it is less than 5% of whole dataset
weather.dropna(inplace=True)

In [12]:
weather.isnull().sum()

Date                             0
Daily Rainfall Total (mm)        0
Highest 30-min Rainfall (mm)     0
Highest 60-min Rainfall (mm)     0
Highest 120-min Rainfall (mm)    0
Mean Temperature (°C)            0
Maximum Temperature (°C)         0
Minimum Temperature (°C)         0
Mean Wind Speed (km/h)           0
Max Wind Speed (km/h)            0
year                             0
region                           0
dtype: int64

In [13]:
weather.apply(lambda col: col.str.contains('-'), axis=1).sum()

Date                                 0.0
Daily Rainfall Total (mm)         2801.0
Highest 30-min Rainfall (mm)      3416.0
Highest 60-min Rainfall (mm)      3513.0
Highest 120-min Rainfall (mm)     3510.0
Mean Temperature (°C)            32456.0
Maximum Temperature (°C)         31345.0
Minimum Temperature (°C)         31373.0
Mean Wind Speed (km/h)           32750.0
Max Wind Speed (km/h)            31865.0
year                                 0.0
region                               0.0
dtype: float64

In [14]:
# Replace '-' with 0
def float_checker(row):
    try:
        res = float(row)
    except:
        res = 0
    return res

In [15]:
c = ['Daily Rainfall Total (mm)',\
             'Highest 30-min Rainfall (mm)',\
             'Highest 60-min Rainfall (mm)',\
             'Highest 120-min Rainfall (mm)',\
             'Mean Temperature (°C)',\
             'Maximum Temperature (°C)',\
             'Minimum Temperature (°C)',\
             'Mean Wind Speed (km/h)',\
             'Max Wind Speed (km/h)']

In [16]:
for col in c:
    weather[col] = weather[col].map(float_checker)

In [17]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 130926 entries, 0 to 64743
Data columns (total 12 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Date                           130926 non-null  object
 1   Daily Rainfall Total (mm)      130926 non-null  float64
 2   Highest 30-min Rainfall (mm)   130926 non-null  float64
 3   Highest 60-min Rainfall (mm)   130926 non-null  float64
 4   Highest 120-min Rainfall (mm)  130926 non-null  float64
 5   Mean Temperature (°C)          130926 non-null  float64
 6   Maximum Temperature (°C)       130926 non-null  float64
 7   Minimum Temperature (°C)       130926 non-null  float64
 8   Mean Wind Speed (km/h)         130926 non-null  float64
 9   Max Wind Speed (km/h)          130926 non-null  float64
 10  year                           130926 non-null  int64
 11  region                         130926 non-null  object
dtypes: float64(9), int64(1), object(2)
memory usage: 13.0+ MB

In [18]:
weather['Date'] = weather['Date']+' '+weather['year'].astype(str)

In [19]:
weather["Date"]= pd.to_datetime(weather["Date"])

In [20]:
# change column name by replacing ' (mm)' with ''
weather.columns = weather.columns.str.replace(' (mm)', '', regex=False)

In [21]:
# change column name by replacing ' (°C)' with ''
weather.columns = weather.columns.str.replace(' (°C)', '', regex=False)

In [22]:
# change column name by replacing ' (km/h)' with ''
weather.columns = weather.columns.str.replace(' (km/h)', '', regex=False)

In [23]:
# change column name by replacing '-' with '_'
weather.columns = weather.columns.str.replace('-', '_', regex=False)

In [24]:
# change column name to lowercase and replace ' ' with '_'
weather.columns = weather.columns.str.replace(' ', '_', regex=False).str.lower()

In [25]:
weather.head()

,date,daily_rainfall_total,highest_30_min_rainfall,highest_60_min_rainfall,highest_120_min_rainfall,mean_temperature,maximum_temperature,minimum_temperature,mean_wind_speed,max_wind_speed,year,region
0,2022-10-01,22.6,18.6,21.4,21.4,26.8,31.8,24.4,6.0,27.8,2022,Admiralty
1,2022-10-02,16.4,13.2,14.2,16.0,27.1,32.6,23.0,5.8,24.4,2022,Admiralty
2,2022-10-03,44.2,18.6,33.4,39.6,26.3,31.8,23.1,5.7,52.6,2022,Admiralty
3,2022-10-04,1.4,1.0,1.2,1.2,26.2,31.2,24.5,6.3,36.3,2022,Admiralty
4,2022-10-05,49.2,17.6,29.2,44.8,26.0,28.6,22.8,7.2,33.5,2022,Admiralty

In [26]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 130926 entries, 0 to 64743
Data columns (total 12 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   date                      130926 non-null  datetime64[ns]
 1   daily_rainfall_total      130926 non-null  float64
 2   highest_30_min_rainfall   130926 non-null  float64
 3   highest_60_min_rainfall   130926 non-null  float64
 4   highest_120_min_rainfall  130926 non-null  float64
 5   mean_temperature          130926 non-null  float64
 6   maximum_temperature       130926 non-null  float64
 7   minimum_temperature       130926 non-null  float64
 8   mean_wind_speed           130926 non-null  float64
 9   max_wind_speed            130926 non-null  float64
 10  year                      130926 non-null  int64
 11  region                    130926 non-null  object
dtypes: datetime64[ns](1), float64(9), int64(1), object(1)
memory usage: 13.0+ MB

In [27]:
# save data
weather.to_csv('../data/weather.csv', index=False)