In [19]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns
from datetime import datetime

In [2]:
weather1 = pd.read_csv('../data/df_weather1.csv')
weather1.head()

,Unnamed: 0,Date,Daily Rainfall Total (mm),Highest 30-min Rainfall (mm),Highest 60-min Rainfall (mm),Highest 120-min Rainfall (mm),Mean Temperature (°C),Maximum Temperature (°C),Minimum Temperature (°C),Mean Wind Speed (km/h),Max Wind Speed (km/h),year,region
0,0,1 Oct,22.6,18.6,21.4,21.4,26.8,31.8,24.4,6.0,27.8,2022,Admiralty
1,1,2 Oct,16.4,13.2,14.2,16.0,27.1,32.6,23.0,5.8,24.4,2022,Admiralty
2,2,3 Oct,44.2,18.6,33.4,39.6,26.3,31.8,23.1,5.7,52.6,2022,Admiralty
3,3,4 Oct,1.4,1.0,1.2,1.2,26.2,31.2,24.5,6.3,36.3,2022,Admiralty
4,4,5 Oct,49.2,17.6,29.2,44.8,26.0,28.6,22.8,7.2,33.5,2022,Admiralty

In [4]:
weather1.shape

(66426, 13)

In [3]:
weather2 = pd.read_csv('../data/df_weather2.csv')
weather2.head()

,Unnamed: 0,Date,Daily Rainfall Total (mm),Highest 30-min Rainfall (mm),Highest 60-min Rainfall (mm),Highest 120-min Rainfall (mm),Mean Temperature (°C),Maximum Temperature (°C),Minimum Temperature (°C),Mean Wind Speed (km/h),Max Wind Speed (km/h),year,region
0,0,1 Oct,17.0,8.0,10.4,13.2,-,-,-,-,-,2022,Marine Parade
1,1,2 Oct,32.2,10.6,12.6,17.4,-,-,-,-,-,2022,Marine Parade
2,2,3 Oct,10.4,4.8,5.8,7.4,-,-,-,-,-,2022,Marine Parade
3,3,4 Oct,9.8,5.2,8.8,9.8,-,-,-,-,-,2022,Marine Parade
4,4,5 Oct,49.4,36.2,42.8,46.6,-,-,-,-,-,2022,Marine Parade

In [5]:
weather2.shape

(64744, 13)

In [7]:
# concat weather1 and weather2
weather = pd.concat([weather1,weather2])
weather.head()

,Unnamed: 0,Date,Daily Rainfall Total (mm),Highest 30-min Rainfall (mm),Highest 60-min Rainfall (mm),Highest 120-min Rainfall (mm),Mean Temperature (°C),Maximum Temperature (°C),Minimum Temperature (°C),Mean Wind Speed (km/h),Max Wind Speed (km/h),year,region
0,0,1 Oct,22.6,18.6,21.4,21.4,26.8,31.8,24.4,6.0,27.8,2022,Admiralty
1,1,2 Oct,16.4,13.2,14.2,16.0,27.1,32.6,23.0,5.8,24.4,2022,Admiralty
2,2,3 Oct,44.2,18.6,33.4,39.6,26.3,31.8,23.1,5.7,52.6,2022,Admiralty
3,3,4 Oct,1.4,1.0,1.2,1.2,26.2,31.2,24.5,6.3,36.3,2022,Admiralty
4,4,5 Oct,49.2,17.6,29.2,44.8,26.0,28.6,22.8,7.2,33.5,2022,Admiralty

In [8]:
weather.shape

(131170, 13)

In [13]:
# remove unnamed column
weather.drop(columns=['Unnamed: 0'], inplace=True)
weather.head()

,Date,Daily Rainfall Total (mm),Highest 30-min Rainfall (mm),Highest 60-min Rainfall (mm),Highest 120-min Rainfall (mm),Mean Temperature (°C),Maximum Temperature (°C),Minimum Temperature (°C),Mean Wind Speed (km/h),Max Wind Speed (km/h),year,region
0,1 Oct,22.6,18.6,21.4,21.4,26.8,31.8,24.4,6.0,27.8,2022,Admiralty
1,2 Oct,16.4,13.2,14.2,16.0,27.1,32.6,23.0,5.8,24.4,2022,Admiralty
2,3 Oct,44.2,18.6,33.4,39.6,26.3,31.8,23.1,5.7,52.6,2022,Admiralty
3,4 Oct,1.4,1.0,1.2,1.2,26.2,31.2,24.5,6.3,36.3,2022,Admiralty
4,5 Oct,49.2,17.6,29.2,44.8,26.0,28.6,22.8,7.2,33.5,2022,Admiralty

#change column name to lowercase and replace 'space' with 'underscore'
weather.columns = weather.columns.str.replace(' ', '_').str.lower()
weather.head()

In [14]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131170 entries, 0 to 131169
Data columns (total 12 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Date                           131170 non-null  object
 1   Daily Rainfall Total (mm)      131170 non-null  object
 2   Highest 30-min Rainfall (mm)   131170 non-null  object
 3   Highest 60-min Rainfall (mm)   131170 non-null  object
 4   Highest 120-min Rainfall (mm)  131170 non-null  object
 5   Mean Temperature (°C)          131170 non-null  object
 6   Maximum Temperature (°C)       130935 non-null  object
 7   Minimum Temperature (°C)       130935 non-null  object
 8   Mean Wind Speed (km/h)         131170 non-null  object
 9   Max Wind Speed (km/h)          130930 non-null  object
 10  year                           131170 non-null  int64
 11  region                         131170 non-null  object
dtypes: int64(1), object(11)
memory usage: 12.0+ MB

In [27]:
# check for null
weather.isnull().sum()

Date                               0
Daily Rainfall Total (mm)          0
Highest 30-min Rainfall (mm)       0
Highest 60-min Rainfall (mm)       0
Highest 120-min Rainfall (mm)      0
Mean Temperature (°C)              0
Maximum Temperature (°C)         235
Minimum Temperature (°C)         235
Mean Wind Speed (km/h)             0
Max Wind Speed (km/h)            240
year                               0
region                             0
dtype: int64

In [28]:
# drop null as it is less than 5% of whole dataset
weather.dropna(inplace=True)

In [29]:
weather.isnull().sum()

Date                             0
Daily Rainfall Total (mm)        0
Highest 30-min Rainfall (mm)     0
Highest 60-min Rainfall (mm)     0
Highest 120-min Rainfall (mm)    0
Mean Temperature (°C)            0
Maximum Temperature (°C)         0
Minimum Temperature (°C)         0
Mean Wind Speed (km/h)           0
Max Wind Speed (km/h)            0
year                             0
region                           0
dtype: int64

In [32]:
weather.apply(lambda col: col.str.contains('-'), axis=1).sum()

Date                                 0.0
Daily Rainfall Total (mm)         2801.0
Highest 30-min Rainfall (mm)      3416.0
Highest 60-min Rainfall (mm)      3513.0
Highest 120-min Rainfall (mm)     3510.0
Mean Temperature (°C)            32456.0
Maximum Temperature (°C)         31345.0
Minimum Temperature (°C)         31373.0
Mean Wind Speed (km/h)           32750.0
Max Wind Speed (km/h)            31865.0
year                                 0.0
region                               0.0
dtype: float64

In [49]:
# replace '-' with '0'
weather.apply(lambda col: col.replace('—','0.0'), axis=1)

,Date,Daily Rainfall Total (mm),Highest 30-min Rainfall (mm),Highest 60-min Rainfall (mm),Highest 120-min Rainfall (mm),Mean Temperature (°C),Maximum Temperature (°C),Minimum Temperature (°C),Mean Wind Speed (km/h),Max Wind Speed (km/h),year,region
0,1 Oct,22.6,18.6,21.4,21.4,26.8,31.8,24.4,6.0,27.8,2022,Admiralty
1,2 Oct,16.4,13.2,14.2,16.0,27.1,32.6,23.0,5.8,24.4,2022,Admiralty
2,3 Oct,44.2,18.6,33.4,39.6,26.3,31.8,23.1,5.7,52.6,2022,Admiralty
3,4 Oct,1.4,1.0,1.2,1.2,26.2,31.2,24.5,6.3,36.3,2022,Admiralty
4,5 Oct,49.2,17.6,29.2,44.8,26.0,28.6,22.8,7.2,33.5,2022,Admiralty
...,...,...,...,...,...,...,...,...,...,...,...,...
131165,27 Jan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016,Yishun
131166,28 Jan,15.4,9.2,10.8,14.8,0.0,0.0,0.0,0.0,0.0,2016,Yishun
131167,29 Jan,1.4,1.0,1.0,1.4,0.0,0.0,0.0,0.0,0.0,2016,Yishun
131168,30 Jan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016,Yishun
131169,31 Jan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2016,Yishun

In [50]:
weather.tail()

,Date,Daily Rainfall Total (mm),Highest 30-min Rainfall (mm),Highest 60-min Rainfall (mm),Highest 120-min Rainfall (mm),Mean Temperature (°C),Maximum Temperature (°C),Minimum Temperature (°C),Mean Wind Speed (km/h),Max Wind Speed (km/h),year,region
131165,27 Jan,0.0,0.0,0.0,0.0,—,—,—,—,—,2016,Yishun
131166,28 Jan,15.4,9.2,10.8,14.8,—,—,—,—,—,2016,Yishun
131167,29 Jan,1.4,1.0,1.0,1.4,—,—,—,—,—,2016,Yishun
131168,30 Jan,0.0,0.0,0.0,0.0,—,—,—,—,—,2016,Yishun
131169,31 Jan,0.0,0.0,0.0,0.0,—,—,—,—,—,2016,Yishun

In [41]:
weather[['Daily Rainfall Total (mm)',\
         'Highest 30-min Rainfall (mm)',\
         'Highest 60-min Rainfall (mm)',\
         'Highest 120-min Rainfall (mm)',\
         'Mean Temperature (°C)',\
         'Maximum Temperature (°C)',\
         'Minimum Temperature (°C)',\
         'Mean Wind Speed (km/h)',\
         'Max Wind Speed (km/h)']] = weather[['Daily Rainfall Total (mm)',\
         'Highest 30-min Rainfall (mm)',\
         'Highest 60-min Rainfall (mm)',\
         'Highest 120-min Rainfall (mm)',\
         'Mean Temperature (°C)',\
         'Maximum Temperature (°C)',\
         'Minimum Temperature (°C)',\
         'Mean Wind Speed (km/h)',\
         'Max Wind Speed (km/h)']].astype(float)

ValueError: could not convert string to float: '-'

In [9]:
# save data
weather.to_csv('../data/weather.csv', index=False)