In [3]:
import pandas as pd

In [4]:
aedes = pd.read_csv('../Data/Trends/trend_aedes.csv')
dengue = pd.read_csv('../Data/Trends/trend_dengue.csv')
fever = pd.read_csv('../Data/Trends/trend_fever.csv')
headache = pd.read_csv('../Data/Trends/trend_headache.csv')
nosebleed = pd.read_csv('../Data/Trends/trend_nosebleed.csv')
vomit = pd.read_csv('../Data/Trends/trend_vomit.csv')

In [5]:
trends = [aedes,dengue,fever,headache,nosebleed,vomit]

In [6]:
for trend in trends:
    print (trend.shape)

(261, 1)
(261, 1)
(261, 1)
(261, 1)
(261, 1)
(261, 1)

In [7]:
trend = pd.concat([aedes,dengue,fever,headache,nosebleed,vomit], axis=1)

In [8]:
trend.head()

,Category: All categories,Category: All categories,Category: All categories,Category: All categories,Category: All categories,Category: All categories
Week,aedes: (Singapore),Dengue: (Singapore),fever: (Singapore),headache: (Singapore),Nosebleed: (Singapore),vomit: (Singapore)
2017-12-24,16,7,44,66,35,83
2017-12-31,0,8,37,78,50,48
2018-01-07,14,11,42,57,18,65
2018-01-14,25,10,45,61,41,63

In [9]:
trend.columns = ['aedes','dengue','fever','headache','nosebleed','vomit']

In [10]:
trend.head()

,aedes,dengue,fever,headache,nosebleed,vomit
Week,aedes: (Singapore),Dengue: (Singapore),fever: (Singapore),headache: (Singapore),Nosebleed: (Singapore),vomit: (Singapore)
2017-12-24,16,7,44,66,35,83
2017-12-31,0,8,37,78,50,48
2018-01-07,14,11,42,57,18,65
2018-01-14,25,10,45,61,41,63

In [11]:
trend = trend.iloc[1:,:]

In [12]:
trend.head()

           aedes dengue fever headache nosebleed vomit
2017-12-24    16      7    44       66        35    83
2017-12-31     0      8    37       78        50    48
2018-01-07    14     11    42       57        18    65
2018-01-14    25     10    45       61        41    63
2018-01-21    51     15    47       60        76    44

In [13]:
trend.to_csv('../Data/google_trends.csv')