In [129]:
# Import libraries
import pandas as pd

In [130]:
# Read Google Trend data
aedes = pd.read_csv('../Data/Trends/trend_aedes.csv')
dengue = pd.read_csv('../Data/Trends/trend_dengue.csv')
fever = pd.read_csv('../Data/Trends/trend_fever.csv')
headache = pd.read_csv('../Data/Trends/trend_headache.csv')
nosebleed = pd.read_csv('../Data/Trends/trend_nosebleed.csv')
vomit = pd.read_csv('../Data/Trends/trend_vomit.csv')

In [131]:
# Function to rename the date column and set it to index
def indexing (df):
    df.rename(columns={'Category: All categories': 'date'}, inplace=True)
    df.set_index('date', inplace=True)
    return df

In [132]:
# List of Google Trend data
trends = [aedes,dengue,fever,headache,nosebleed,vomit]

In [133]:
# Rename column and set date to index for all the Google Trend data
for trend in trends:
    trend = indexing(trend)
    print (trend.shape)

(365, 1)
(365, 1)
(365, 1)
(365, 1)
(365, 1)
(365, 1)

In [134]:
# Concatenate the data into a single dataframe
trend = pd.concat([aedes,dengue,fever,headache,nosebleed,vomit], axis=1)

In [135]:
# Display the concatenated dataframe
trend.head()

,Unnamed: 1,Unnamed: 1,Unnamed: 1,Unnamed: 1,Unnamed: 1,Unnamed: 1
date,,,,,,
NaN,NaN,NaN,NaN,NaN,NaN,NaN
Week,aedes: (Singapore),Dengue: (Singapore),fever: (Singapore),headache: (Singapore),Nosebleed: (Singapore),vomit: (Singapore)
2016-01-03,0,78,75,81,0,42
2016-01-10,6,74,77,76,0,40
2016-01-17,13,68,88,79,48,70

In [136]:
# Rename columns and remove the first 2 empty rows
trend.columns = ['aedes','dengue','fever','headache','nosebleed','vomit']
trend = trend.iloc[2:,:]

In [137]:
# reset index and change to datetime format.
trend = trend.reset_index()
trend['date'] = pd.to_datetime(trend['date'])
trend.head()

        date aedes dengue fever headache nosebleed vomit
0 2016-01-03     0     78    75       81         0    42
1 2016-01-10     6     74    77       76         0    40
2 2016-01-17    13     68    88       79        48    70
3 2016-01-24    41     94    91       68        30    58
4 2016-01-31    23     85    96       52        31    56

In [138]:
# Export to google_trends.csv
trend.to_csv('../Data/google_trends.csv')